.CustomersTable {
	width: 100%;
	margin-bottom: 1rem;
}

.CustomersTable th,
.CustomersTable tr {
	border: 1px solid #000;
}

.CustomersTable th {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.CustomersTable .leftTitle {
	display: none;
	justify-content: flex-end;
	align-items: center;
	width: 50%;
	padding-right: 1rem;
	border-right: 1px solid #000;
}

.CustomersTable .headerTitle {
	text-align: center;
}

.CustomersTable th .th_value {
	text-align: center;
}

@media (max-width: 991.98px) {
	.CustomersTable .headerTitleCheckAll {
		display: flex;
		padding: 0;
		height: 3rem;
	}

	.CustomersTable .headerTitle {
		display: none;
	}

	.CustomersTable .leftTitle {
		display: flex;
	}

	.CustomersTable th .th_value {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 50%;
		padding-left: 1rem;
	}
}

@media (max-width: 575.98px) {
	.CustomersTable {
		font-size: 0.8rem;
	}
}
