.Auth {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	width: 100%;
	padding-bottom: 10vh;
}

.Auth > div {
	width: 100%;
}

.Auth h1 {
	text-align: center;
}

.AuthForm {
	background: #eee;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	padding: 15px;
	margin: 0 20px;
	border-radius: 5px;
}

.Auth Button {
	margin-right: 15px;
	margin-top: 15px;
}

.btnRegistr {
	margin-left: 20px;
}
