.CategoriesTable {
	width: 100%;
	margin-bottom: 1rem;
}

.CategoriesTable th,
.CategoriesTable tr {
	border: 1px solid #000;
}

.CategoriesTable .leftTitle {
	display: none;
	justify-content: flex-end;
	align-items: center;
	width: 50%;
	padding-right: 1rem;
	border-right: 1px solid #000;
}

.CategoriesTable .headerTitle {
	text-align: center;
}

.CategoriesTable th .th_value {
	text-align: center;
}

@media (max-width: 991.98px) {
	.CategoriesTable .headerTitleCheckAll {
		display: flex;
		padding: 0;
		height: 3rem;
	}

	.CategoriesTable .headerTitle {
		display: none;
	}

	.CategoriesTable .trHeaderSelect {
		display: flex;
		flex-direction: column;
	}

	.CategoriesTable .trHeaderSelect th {
		padding-top: 0;
		padding-bottom: 0;
	}

	.CategoriesTable .headerTitleSelect,
	.CategoriesTable .headerTitleFilter {
		display: block;
	}

	.CategoriesTable .headerTitleFilter {
		/*        text-align: center;*/
		padding-top: 0.5rem !important;
	}

	.CategoriesTable .leftTitle {
		display: flex;
	}

	.CategoriesTable th .th_value {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 50%;
		padding-left: 1rem;
	}
}

@media (max-width: 575.98px) {
	.CategoriesTable {
		font-size: 0.8rem;
	}
}
